In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('student.db')
conn

In [27]:
sql = """
 CREATE TABLE student
 ( 
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)
c.close()

OperationalError: database table is locked

In [4]:
# 여러개의 데이터를 넣고 조회해 보기

In [34]:
sql = """
INSERT INTO student VALUES
 (?, ?, ?, ?)
 """
c = conn.cursor()
c.execute(sql, ("학생2", 2, "안양", "female"))

## 여러개 데이터 넣기

data = [
    ("학생3", 3, "춘천", "female"),
    ("학생4", 4, "대구", "male"),
    ("학생5", 5, "강릉", "male")
]

c = conn.cursor()      # ← sql 입력시 꼭 들어가야 함...
c.executemany(sql, data)
c.close()
conn.commit()

In [36]:
sql = "SELECT * FROM student"    # SELECT * FROM 테이블명
c = conn.cursor()
c.execute(sql)

# 하나의 데이터 확인
print( c.fetchone())

('학생2', 2, '안양', 'female')

In [37]:
sql = "select * from student"
c = conn.cursor()
c.execute(sql)

for s in c.fetchmany(10):   # 다중의 데이터 확인
    print(s)

('학생2', 2, '안양', 'female')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'female')
('학생5', 5, '강릉', 'female')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'female')
('학생5', 5, '강릉', 'female')
('학생2', 2, '안양', 'female')

In [38]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)

# 전체 데이터 확인
for s in c.fetchall():
    print(s)

('학생2', 2, '안양', 'female')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'female')
('학생5', 5, '강릉', 'female')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'female')
('학생5', 5, '강릉', 'female')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'female')
('학생5', 5, '강릉', 'female')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'male')
('학생5', 5, '강릉', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'male')
('학생5', 5, '강릉', 'male')
('학생2', 2, '안양', 'female')
('학생3', 3, '춘천', 'female')
('학생4', 4, '대구', 'male')
('학생5', 5, '강릉', 'male')