In [7]:
import sqlite3

In [13]:
conn = sqlite3.connect('student.db')
conn

In [14]:
sql = """
CREATE TABLE student
 (
 name text,
 no integer,
 addr text,
 gender text
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student")
c.execute(sql)

In [15]:
sql = """
INSERT INTO student VALUES
 ('학생1', 1, "서울 강남구 일원동", 'male')
"""

c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [16]:
sql = 'select * from student'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('학생1', 1, '서울 강남구 일원동', 'male')

In [24]:
conn = sqlite3.connect('student1.db')
conn

In [25]:
sql = """
CREATE TABLE student1
 (
 name text,
 korean integer,
 math integer,
 english integer
 )
"""

c = conn.cursor()
c.execute("DROP TABLE IF EXISTS student1")
c.execute(sql)
c.close()

In [26]:
sql = """
    INSERT INTO student1 VALUES
     ('토토', 90, 100, 80)
"""

c = conn.cursor() # 객체 생성
c.execute(sql)
c.close()
conn.commit()

In [27]:
sql = 'select * from student1'
c = conn.cursor()
c.execute(sql)
# 하나의 데이터
print(c.fetchone())

('토토', 90, 100, 80)